{% extends "layout.html" %}

{% block head %}
<style>
    body {
        background: #f9f9f9; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .ui.form {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); 
        padding: 30px; 
        background: white;
        border-radius: 20px;
        width: 100%;
        max-width: 400px; 
    }
</style>
{% endblock %}

{% block body %}
<div class="ui form">
    <div class="field">
        <label>Participant ID</label>
        <input type="text" name="participant_id" placeholder="Participant ID">
    </div>
    <!-- <div class="field">
        <label>Session ID</label>
        <input type="text" name="session_id" placeholder="Session ID">
    </div> -->
    <div class="field">
        <label>Number of Phrases</label>
        <input id="Phrases" type="number" name="num_phrases" min="1" value="5">
    </div>
    <div class="field">
        <label>Keyboard Type</label>
        <select name="keyboard_type" class="ui dropdown">
            <option value="physical">Physical</option>
            <option value="raycast">Raycast</option>
            <option value="touch">Touch</option>
        </select>
    </div>
    <div class="field">
        <label>Headset</label>
        <select name="headset_type" class="ui dropdown">
            <option value="moohan">Moohan</option>
            <option value="quest">Quest</option>
            <option value="vision">Vision Pro</option>
            <option value="other">Other</option>
        </select>
    </div>
    <a class="ui fluid primary button" id="Enter" href="/main">Enter</a>
</div>
{% endblock %}